@use '../abstracts/mixins' as mixins;
@use '../components/buttons' as buttons;

.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: min(100% - 3rem, 900px);
  margin-inline: auto;

  &__copy {
    margin-block: 1rem;
  }

  &__list {
    @include mixins.reset-list;

    display: flex;
    align-items: center;
    column-gap: 0.5rem
  }

  &__item {
    &>a {
      @include mixins.reset-link;
      @include buttons.common;

      display: flex;
      column-gap: 0.5rem;
      margin-block: 1rem;
      padding: 1em;

      &>span {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    &__item {
      &>a {
        &>span {
          display: inline-block;
        }
      }
    }
  }
}