$light-color-text: #0d0302;
$light-color-background: #fdf3f2;
$light-color-primary: #32cae2;
$light-color-secondary: #b3cff1;
$light-color-accent: #b33865;

$dark-color-text: #fdf3f2;
$dark-color-background: #0d0302;
$dark-color-primary: #b33865;
$dark-color-secondary: #242424;
$dark-color-accent: #32cae2;